/* src/World.css */

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* Prevent horizontal scrolling */
  width: 100%;
  height: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100vh;
  position: relative;
  min-width: 300px; /* Set minimum width */
  background-color: black;
}

#loading-div {
  height: 100vh;
  width: 100vw;
  background-color: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 32px;
}

.top-space {
  flex-shrink: 1; /* Allow the top space to shrink first */
  flex-grow: 0; /* Prevent it from growing */
  height: auto; /* Ensure it can shrink */
  min-height: 0; /* Allow it to shrink to 0 */
}

.bottom-space {
  flex-shrink: 1; /* Allow the bottom space to shrink after the top space */
  flex-grow: 0; /* Prevent it from growing */
  height: 80px; /* Initial fixed space at the bottom */
  min-height: 0; /* Allow it to shrink to 0 */
}

.globe-container {
  width: 100%;
  height: calc(
    100vh - 80px
  ); /* Take up the entire screen height minus the bottom space */
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0; /* Ensure it shrinks only when top and bottom spaces are 0 */
}

.tooltip {
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: #dfdede;
  font-family: Arial, sans-serif;
  position: absolute;
  z-index: 1;
  width: 300px;
  max-width: 800px;
  bottom: 50px; /* Position above the button */
  left: 20%;
  /* transform: translateX(-50%); */
}

.tooltip-country {
  color: #dfdede;
  font-size: 2em;
}

#country-sub-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  color: rgb(214, 205, 205);
}

.country-info-title {
  font-weight: bold;
  color: #dfdede;
}

.tooltip-countrySelect-btn {
  background-color: #dfdede;
  color: black;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  position: absolute;
  right: 20%;
  bottom: 75px;
}

.tooltip-countrySelect-btn:hover {
  background-color: #cc0000;
  color: white;
}

@media (max-width: 780px) and (min-width: 451px) {
  .tooltip {
    width: 200px;
    bottom: 20px; /* Adjust for smaller screens */
    left: 10px;
    transform: translateX(0%);
  }

  .tooltip-country {
    font-size: 1.5em;
  }

  .tooltip-countrySelect-btn {
    bottom: 40px;
    right: 10px;
    max-width: 30vw;
    font-size: 0.9em;
    /* display: inline-block; */
  }
}

#tooltip-container {
  display: flex;
  flex-direction: row; /* Default layout */
}

@media (max-width: 450px) {
  #tooltip-container {
    flex-direction: column; /* Stack items vertically on small screens */
    align-items: center;
  }

  .tooltip {
    width: 90vw; /* Adjust width to fit within screen */
    bottom: 60px; /* Move it closer to the bottom */
    left: 5vw; /* Adjust left to fit within the screen */
    transform: none;
  }

  .tooltip-countrySelect-btn {
    position: static; /* Adjust button position */
    width: 85vw; /* Allow button to resize based on content */
    margin-top: 10px;
    margin-bottom: 20px;
  }

  #country-sub-info {
    width: 65vw;
  }
}
